{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
<div class="sign-in__form-wrapper">
  <h2 class="sign-in__title">Новый пароль</h2>

  <form class="sign-in__form" method="post"> {% csrf_token %}
    <div class="sign-in__form-inputs">
      <label class="sign-in__label sign-in__label--password">
        <input class="sign-in__input" name="password" type="password" placeholder="Введите новый пароль">
      </label>
      <label class="sign-in__label sign-in__label--password">
        <input class="sign-in__input" name="password" type="password" placeholder="Повторите новый пароль">
      </label>
      <!-- Ошибки формы -->
      <div class="error-text">
        {% if form_errors %}

          {{ form_errors }}

        {% endif %}
      </div>
    </div>
    <button class="btn-reset sign-in__btn" type="submit">Сменить пароль</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}

