{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<main class="main">
  <section class="section">
<div class="container">
   <div class="message-wrapper">
        <div class="message__title">
            {% trans 'Письмо отправлено' %}
        </div>
        <hr class="message__line">
        <div class="message">
            <div>{% trans 'Письмо с инструкциями по восстановлению пароля отправлено' %}.</div>

            <div>{% trans 'Вы должны получить его в ближайшее время' %}.</div>
        </div>
   </div>
</div>
</section>

</main>

{% endblock %}

