{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
   <div class="message-wrapper">
        <div class="message__title">
            Письмо отправлено
        </div>
        <hr class="message__line">
        <div class="message">
            <div>Письмо с инструкциями по восстановлению пароля отправлено.</div>

            <div>Вы должны получить его в ближайшее время.</div>
        </div>
   </div>
</div>
</section>

</main>

{% endblock %}

