{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<main class="main">
  <section class="section">
<div class="container">
<div class="form-wrapper">
  <h2 class="form__title">{% trans 'Новый пароль' %}</h2>

  <form class="sign-in__form" method="post"> {% csrf_token %}
    <div class="form-inputs">
      <label class="form__label form__label--password">
        <input class="form__input" name="new_password1" type="password" placeholder="{% trans 'Введите новый пароль' %}">
        <button class="toggle-eye" type="button"></button>
      </label>
      {{ form.errors.new_password1 }}

      <label class="form__label form__label--password">
        <input class="form__input" name="new_password2" type="password" placeholder="{% trans 'Повторите новый пароль' %}">
        <button class="toggle-eye" type="button"></button>
      </label>
      {{ form.errors.new_password2 }}
    </div>
    <button class="btn-reset sign-in__btn" type="submit">{% trans 'Сменить пароль' %}</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}

