{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
<div class="sign-in__form-wrapper">
  <h2 class="sign-in__title">Восстановить пароль</h2>

  <form class="sign-in__form" method="post"> {% csrf_token %}
    <div class="sign-in__form-inputs">
      <label class="sign-in__label sign-in__label--email">
        <input class="sign-in__input" value="{{ request.POST.email }}" name="email" type="text" placeholder="Введите адрес электронной почты">
      </label>
      <div class="error-text">
        {{ form.errors.email }}
      </div>

      <!-- Ошибки формы -->
      
      <h3 class="sign-in__subtitle">Дополнительно</h3>
      <div class="sign-in__links">
        <a href="{% url 'sign_in' %}" class="sign-in__link">Вход</a>
        <a href="{% url 'sign_up' %}" class="sign-in__link">Регистрация</a>
      </div>
    </div>
    <button class="btn-reset sign-in__btn" type="submit">Восстановить</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}

