{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="section">
<div class="container">
<div class="form-wrapper">
  <h2 class="form__title">{% trans 'Восстановить пароль' %}</h2>

  <form class="sign-in__form" method="post"> {% csrf_token %}
    <div class="form-inputs">
      <label class="form__label form__label--email">
        <input class="form__input" value="{{ request.POST.email }}" name="email" type="text" placeholder="{% trans 'Введите адрес электронной почты' %}">
      </label>
      <div class="error-text">
        {{ form.errors.email }}
      </div>

      <!-- Ошибки формы -->
      
      <h3 class="form__subtitle">{% trans 'Дополнительно' %}</h3>
      <div class="form-links">
        <a href="{% url 'sign_in' %}" class="form__link">{% trans 'Вход' %}</a>
        <a href="{% url 'sign_up' %}" class="form__link">{% trans 'Регистрация' %}</a>
      </div>
    </div>
    <button class="btn-reset sign-in__btn" type="submit">{% trans 'Восстановить' %}</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}

