{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
<div class="sign-in__form-wrapper">
  <h2 class="sign-in__title">Регистрация</h2>

  <form class="sign-in__form" method="POST"> {% csrf_token %}
    <div class="sign-in__form-inputs"> 

      <label class="sign-in__label sign-in__label--user">
        <input class="sign-in__input" name="surname" type="text" placeholder="Введите фамилию">
      </label>

      <label class="sign-in__label sign-in__label--user">
        <input class="sign-in__input" name="name" type="text" placeholder="Введите имя">
      </label>

      <label class="sign-in__label sign-in__label--user">
        <input class="sign-in__input" name="patronymic" type="text" placeholder="Введите отчество">
      </label>

      <label class="sign-in__label sign-in__label--email">
        <input class="sign-in__input" name="email" type="text" placeholder="Введите адрес электронной почты">
      </label>
      {{ form_errors.email }}

      <label class="sign-in__label sign-in__label--password">
        <input class="sign-in__input" name="password" type="password" placeholder="Введите пароль">
      </label>
      {{ form_errors.password}}

      <label class="sign-in__label sign-in__label--password">
        <input class="sign-in__input" name="repeat_password" type="password" placeholder="Повторите пароль">
      </label>
      {{ form_errors.repeat_password }}

      <h3 class="sign-in__subtitle">Уже зарегистрированы?</h3>
      <div class="sign-in__links">
        <a href="{% url 'sign_in' %}" class="sign-in__link">Вход</a>
        <a href="reset-password.html" class="sign-in__link">Забыли пароль?</a>
      </div>
    </div>
    <button class="btn-reset sign-in__btn" type="submit">Зарегистрироваться</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}