{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
<div class="form-wrapper">
  <h2 class="form__title">Авторизация</h2>

  <form class="sign-in__form" method="post"> {% csrf_token %}
    <div class="form-inputs">
      <label class="form__label form__label--email">
        <input class="form__input" name="email" type="text" placeholder="Введите адрес электронной почты">
      </label>
      <label class="form__label form__label--password">
        <input class="form__input" name="password" type="password" placeholder="Введите пароль">
      </label>
      <!-- Ошибки формы -->
      <div class="error-text">
        {% if form_errors %}

          {{ form_errors }}

        {% endif %}
      </div>
      <h3 class="form__subtitle">Дополнительно</h3>
      <div class="form-links">
        <a href="{% url 'sign_up' %}" class="form__link">Регистрация</a>
        <a href="{% url 'reset_password' %}" class="form__link">Забыли пароль?</a>
      </div>
    </div>
    <button class="btn-reset sign-in__btn" type="submit">Вход</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}

