{% extends "core/base.html" %}
{% load static %}


{% block content %}
<main class="main">
    <section class="section section--without-padding_bottom">
        <div class="container">
            
            <div class="section__title-wrapper">
                <h1 class="section__title">Контакты</h1>
            </div>

            <div class="contact-block">
                <div class="contact-block__info">
                    <p class="contact-block__title">
                        {{ main_employee.get_full_name }}
                    </p>
                    <span class="contact-block__position">{{ main_employee.position }}</span>
                    <div class="contact-block__items">
                        {% for c in main_employee.contacts.all %}
                            <div class="contact-block__item">
                                <div class="contact-block__subtitle">
                                    {{ c.title }}
                                </div>
                                <div class="contact-block__link">
                                    {{ c.value }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="contact-block__image">
                    <img src="{{ main_employee.image.url }}" alt="">
                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">
            
            <div class="section__title-wrapper section__title-wrapper--sub">
                <h2 class="section__title section__title--sub">Сотрудники</h2>

                <a class="navigation-link" href="{% url 'employees-list' %}">Все сотрудники</a>
            </div>

            <div class="employees-list">

                {% for e in last_employees %}

                    <a class="employees__item" href="{% url 'employees-detail' e.pk %}">
                        <div class="employees__image">
                            <img src="{{ e.image.url }}">
                        </div>
                        <div class="employees__text">
                            <p class="employees__title">{{ e.get_full_name }}</p>
                            <span class="employees__position"> {{ e.position }} </span>
                        </div>
                    </a>

                {% endfor %}
                
            </div>
    


        </div>
    </section>





</main>
{% endblock %}