{% extends "core/base.html" %}
{% load static %}


{% block content %}
  <main class="main">
    <section class="section">
  <div class="container">
  <div class="section__title-wrapper">
    <h2 class="section__title">Дипломные работы</h2>
  </div>

  <div class="file-item__list">
    {% for t in theses %}
      <div class="file__item">
        <div class="file__item__content-wrapper">
          <div class="file__item__title">
            {{t.title}}
          </div>
          <div class="file__item__file-wrapper">
            <div class="file__item__date">
              {{ t.get_formatted_date_upload }}
            </div>
            <a class="file__item__file" href="{{ t.file.url }}" target="_blank" ></a>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>

  {% include 'includes/pagination.html' %}
  </div>
  </section>

  </main>
{% endblock %}