{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<main class="main">
    <section class="section section--without-padding_bottom history">
        <div class="container history__container">

            <div class="history__content">
                <div class="section__title-wrapper">
                    <h1 class="section__title">{% trans 'История кафедры' %}</h1>
                </div>

                <div class="history__text">
                    <p>
                        В вузе идея образовать кафедру прикладной математики вынашивалась с конца 70-х гг., когда с
                        развитием средств вычислительной техники начинается обучение студентов всех факультетов основам
                        программирования и использования ЭВМ. Новая дисциплина требовала самостоятельного учебного,
                        научного, методического обеспечения.
                    </p>
                    <p>
                        В вузе идея образовать кафедру прикладной математики вынашивалась с конца 70-х гг., когда с
                        развитием средств вычислительной техники начинается обучение студентов всех факультетов основам
                        программирования и использования ЭВМ. Новая дисциплина требовала самостоятельного учебного,
                        научного, методического обеспечения.
                    </p>
                    <p>
                        Кафедра прикладной математики была создана 31.05.1984 г. на основании приказа MB и ССО РСФСР №
                        344 от 31.05.1984 г. и приказа ТИСИ № 1033 от 31.07.1984 г. и вошла в состав строительного
                        факультета, возглавил ее профессор доктор физико-математических наук Леонид Евгеньевич Попов.
                    </p>
                    <p>В состав кафедры первоначально вошли доценты Б.В. Дудка, Л. Я. Пудан, А.В. Ушаков, А.Е.
                        Янковская. На момент создания кафедры в университете была техника, соответствующая текущему
                        моменту времени: Проминь, Наири, Наири-2, Наири-3, М-222, ЕС-1022. Руководство кафедры и
                        университета поставило одной из основных задач обучение студентов и сотрудников университета
                        навыкам программирования и использования ЭВМ для решения инженерных задач.</p>
                </div>



            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/popov.png' %}" alt="Descr">
                <div class="history__img-text">
                    Леонид Евгеньевич Попов
                </div>
            </div>

        </div>
    </section>

    <section class="section section--without-padding_bottom history">
        <div class="container history__container">

            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Развитие кафедры в 1986-2012 гг.' %}</h2>
                </div>

                <div class="history__text">
                    <p>
                        С 1986 по 2012 гг. кафедру возглавлял профессор, доктор физико-математических наук Михаил
                        Иванович
                        Слободской. С 1986 г. преподаватели кафедры читают лекции по математическому моделированию и
                        компьютерным технологиям для аспирантов всех направлений ТГАСУ.
                    </p>
                    <p>С 10.11.1987 г. кафедра была переведена в ранг общеинститутской, в её состав передана
                        вычислительная лаборатория с техникой и штатами (39 человек) с целью эффективного руководства
                        использованием вычислительной техники.</p>
                    <p>В 1989 г. в ТГАСУ появился первый персональный компьютер фирмы IBM и первый сканер, в следующем
                        году – первый студенческий класс на базе IBM PC; сейчас таких классов более 30.</p>
                    <p>С 1998 г. кафедра входит в состав факультета экономики и менеджмента, а с 2010 г. — в состав
                        общеобразовательного факультета.</p>
                    <p>Первое свидетельство об официальной регистрации программы для ЭВМ (М.Е. Семенов, С.Н. Колупаева)
                        в "Федеральной службе по интеллектуальной собственности, патентам и товарным знакам" было
                        получено в 2005 г.</p>
                    <p>В 2008 г. начал работать сайт кафедры, а команда ТГАСУ под руководством М.Е. Семенова одержала
                        победу в региональном туре (Сибирский федеральный округ) Международного технологического
                        конкурса Microsoft "ImagineCup" и приняла участие во Всероссийском финале в Москве в числе 7
                        российских команд - победителей региональных туров.</p>
                    <p>Сотрудники кафедры ведут обучение более чем по 30 курсам, которые наряду с чисто математическими
                        дисциплинами выступают в качестве базовых спецдисциплин для многих специальностей университета.
                    </p>
                </div>

            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/slobodskoy.png' %}" alt="Descr">
                <div class="history__img-text">
                    Слободской Михаил Иванович
                </div>
            </div>

        </div>
    </section>

    <section class="section section--without-padding_bottom history">
        <div class="container history__container">

            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Руководство кафедрой с 2012 г.' %}</h2>
                </div>

                <div class="history__text">
                    <p>
                        С 2012 по 2016 гг. кафедру возглавляла член-корреспондент МАН ВШ, академик МАИ, доктор
                        физико-математических наук, профессор Светлана Николаевна Колупаева. За время её руководства
                        кафедрой была получена лицензия нового направления в университете – 09.03.03 «Прикладная
                        информатика». В 2017 г. прошла аккредитация направления 09.03.03 «Прикладная информатика»
                        профиль «Прикладная информатика в строительной отрасли».
                    </p>
                    <p>С 1.10.2016 г. по 2018 г. кафедру возглавил проректор по научной работе, доцент, кандидат физ-мат
                        наук Постников Сергей Николаевич. Многое приходилось делать впервые, начиная с разработки
                        документации нового направления и учебно-методических программ для новых дисциплин кафедры,
                        проработки документов и госстандартов, инструментов успешного прохождения аккредитации.</p>
                </div>

            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/postnikov.jpg' %}" alt="Descr">
                <div class="history__img-text">
                    Постников Сергей Николаевич
                </div>
            </div>

        </div>
    </section>

    <section class="section section--without-padding_bottom history">
        <div class="container history__container">

            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Обновление и аккредитация' %}</h2>
                </div>

                <div class="history__text">
                    <p>
                        В 2018 году кафедра прошла процедуру аккредитации под руководством заведующим кафедрой Радченко Павла Андреевича, который вступил в эту должность незадолго до этого. 
                    </p>
                    <p>
                        В эти годы происходило обновление преподавательского состава кафедры, с окончанием преподавательской деятельности и уходом с кафедры её почетных и заслуженных профессоров Л.Е. Попова, М.И. Слободского, С.Н. Колупаевой, к сожалению, и научное направление, возглавляемое ими, постепенно было закрыто. Однако те научные направления, которые появлялись с приходом новых сотрудников, вливающихся в ряды преподавателей кафедры, задавали новые тренды в её научной деятельности. Появилось новое направление: Моделирование поведения материалов и конструкций при импульсном нагружении. 
                    </p>
                    <p>В 2019 году Мещеулов Никита Владимирович дополнил необходимый образовательный контент для студентов профиля «Прикладная информатика в строительной отрасли» по программным продуктам в области строительства.</p>
                </div>

            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/mescheulov.png' %}" alt="Descr">
                <div class="history__img-text">
                    Мещеулов Никита Владимирович
                </div>
            </div>

        </div>
    </section>

    <section class="section section--without-padding_bottom history">
        <div class="container history__container">
            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Современные достижения кафедры' %}</h2>
                </div>

                <div class="history__text">
                    <p>
                        В последнее время всё большую значимость в научных разработках кафедры приобретает направление
                        «Распознавание дефектов дорожного покрытия по фото- и видеосъемке», которое возглавляет
                        профессор, доктор физико-математических наук Борис Михайлович Шумилов в сотрудничестве с
                        преподавателями кафедры доцентом, кандидатом физ-мат наук Эшаровым Элзарбеком Асановичем и
                        доцентом, кандидатом технических наук Титовым Александром Валерьевичем.
                    </p>
                    <p>В 2024 г. кафедра отметила 40-летие, что означает, что она ещё молода и имеет широкие возможности
                        для дальнейшего развития, как в научном, так и в образовательном плане.</p>
                </div>

            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/shumilov.jpg' %}" alt="Descr">
                <div class="history__img-text">
                    Шумилов Борис Михайлович
                </div>
            </div>
        </div>
    </section>

    <section class="section section--without-padding_bottom history">
        <div class="container history__container">
            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Новое руководство и развитие кафедры' %}
                    </h2>
                </div>

                <div class="history__text">
                    <p>
                        В 2020 г. заведующей кафедрой становится Галина Александровна Онопенко, доктор
                        физико-математических наук, профессор, почетный работник сферы образования. Под её руководством
                        пройдена общественно-профессиональная аккредитация направления 09.03.03 «Прикладная информатика»
                        профиль «Прикладная информатика в строительной отрасли».
                    </p>
                    <p>За последние два года был проведён ремонт в помещениях кафедры и шести компьютерных классах, были
                        закуплены новые компьютеры, обновлено программное обеспечение. В планах – дальнейшее обновление
                        компьютерного парка кафедры.</p>
                </div>

            </div>

            <div class="history__img-wrapper">
                <img class="history__img" src="{% static 'img/history/onopenko.png' %}" alt="Descr">
                <div class="history__img-text">
                    Онопенко Галина Александровна
                </div>
            </div>
        </div>
    </section>

    <section class="section history">
        <div class="container history__container">
            <div class="history__content">
                <div class="section__title-wrapper">
                    <h2 class="section__title section__title--sub">{% trans 'Перспективы и планы' %}</h2>
                </div>

                <div class="history__text">
                    <p>
                        Второй год подряд, начиная с 2020 г., министерство выделяет всё больше бюджетных мест для
                        студентов ИТ-специальностей. С каждым годом это число только увеличивается, в связи с
                        общемировыми тенденциями и принятой государственной программой развития цифровой экономики,
                        общей цифровой трансформации образования в нашей стране.
                    </p>
                    <p>Предстоит грандиозная работа по внедрению и созданию новых курсов, программ дисциплин не только
                        кафедрой прикладной математики, но и другими кафедрами, задействованными в разработке учебного
                        плана и полного пакета документов для вновь открываемых профилей. Планируется поиск новых связей
                        с университетами Томска и заключение соглашений с производственными предприятиями и фирмами,
                        работающими в данной профессиональной деятельности.</p>
                </div>

            </div>
        </div>
    </section>



</main>
{% endblock %}