{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<main class="main">
    <section class="section section--without-padding_bottom">
        <div class="container">
            
            <div class="section__title-wrapper">
                <h1 class="section__title">{% trans 'История кафедры' %}</h1>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa ipsam possimus velit cumque laboriosam, repellat dolorem voluptate sapiente? Animi minima molestiae facere reprehenderit est quas, vel aspernatur fugiat aperiam?
                Delectus aut quidem illum ipsum autem excepturi illo tempore fugiat nam at repellendus, error libero quod esse sapiente modi dignissimos ex omnis quis necessitatibus perferendis. Odit maxime iste soluta adipisci.
                Neque necessitatibus odit nulla ipsa eaque rem quod! Unde autem assumenda at, provident ipsum facilis omnis culpa enim amet facere sequi aspernatur atque pariatur sunt ipsa sapiente, necessitatibus commodi tenetur.
                Aperiam ducimus delectus fugit itaque neque rerum dolore, quo incidunt. Ipsam quos fugit cum quia iure est, nisi adipisci maiores tenetur commodi rem, ullam nihil odio pariatur maxime, sequi aliquam!
                Beatae exercitationem eos unde explicabo facere ab minima nam odio dolor ducimus corrupti maiores accusamus sint a molestiae, quod eum! Quos dolores adipisci corrupti et sunt. Ducimus voluptate officia saepe?
                Doloribus itaque illum porro reiciendis amet natus facere, magnam ipsa, placeat est architecto, obcaecati sint harum debitis iste reprehenderit? Maxime ipsum quos eligendi voluptate assumenda necessitatibus eum facere minus odio.
                Obcaecati nesciunt, magni enim possimus expedita qui aspernatur saepe, repudiandae a corrupti facere laudantium tempore cupiditate dolore, quibusdam architecto mollitia perspiciatis. Repellat nobis nostrum expedita sunt nulla veritatis reprehenderit asperiores.
                Sit eveniet atque vero doloribus veniam delectus, magnam dolores modi temporibus ut laborum nesciunt. Culpa, molestiae eius laudantium laborum facilis tempore mollitia, itaque, quaerat rerum autem error vitae rem delectus.
                Incidunt minus nesciunt sequi modi autem iusto quas, repellat id illum assumenda facilis ratione exercitationem maiores officia fugiat mollitia error distinctio labore, odio laborum possimus! Ab ratione est repellat consectetur!
                Vero nisi quaerat incidunt itaque ipsum praesentium commodi impedit error ab illo accusamus fugiat labore voluptatum earum consequuntur perferendis aut minima vitae maiores, alias temporibus atque voluptatem laborum. Sapiente, quas?
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, exercitationem ullam rem, architecto numquam voluptas illum sed magni ipsa totam cumque reprehenderit? Unde id vel atque culpa, pariatur recusandae consequatur.
                Animi sed, ad ducimus accusamus quasi tenetur cumque repellendus possimus vero perferendis dicta suscipit doloribus, quidem explicabo minus dolor magnam assumenda id. Quibusdam in sapiente libero quam nam alias laudantium?
                Soluta incidunt nisi consequatur ducimus animi asperiores quia laboriosam. Autem esse optio delectus, assumenda accusantium in nostrum ducimus enim inventore, dolor nam amet labore quae est quo repudiandae impedit sunt!
                Iure temporibus similique mollitia dolores repellat quam provident labore voluptates non natus laborum qui et eaque, ratione adipisci quos ipsam dolorum nisi corporis cum cumque reprehenderit tempora quo. Modi, maiores?
                Iure soluta iusto nulla expedita fugiat repudiandae ipsam nihil, doloremque odit quia accusantium sapiente esse laborum pariatur consectetur sint accusamus sit. Laborum tempore sint voluptatibus magnam aspernatur nostrum magni aut!
            </p>

        </div>
    </section>

    <section class="section section--without-padding_bottom">
        <div class="container">
            
            <div class="section__title-wrapper section__title-wrapper--sub">
                <h2 class="section__title section__title--sub">{% trans 'Какая-то часть 1' %}</h2>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis quas omnis ea possimus repellendus fuga explicabo et tempora quo. Aspernatur ullam quo minima adipisci accusantium expedita ratione, vitae quas!
            Assumenda deserunt cum error ratione commodi, quas laborum consequatur veritatis labore magnam exercitationem nemo quasi quis, similique repellendus quos corporis enim sequi porro quisquam consectetur aliquid neque velit! Atque, repudiandae.
            Id amet consequuntur deserunt, blanditiis iusto, ipsa similique consectetur dolorum maiores, odit nisi dicta quaerat possimus recusandae nesciunt perferendis minima quasi temporibus cum voluptates non? Ipsam possimus perspiciatis eveniet neque.</p>
            
            <div class="section-picture">
                <img class="section-picture__image" src="{% static 'img/history/red-tsuab.jpg' %}" alt="">
                <p class="section-picture__description">Красный корпус» ТГАСУ | Томск | Культурный туризм </p>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis quas omnis ea possimus repellendus fuga explicabo et tempora quo. Aspernatur ullam quo minima adipisci accusantium expedita ratione, vitae quas!
                Assumenda deserunt cum error ratione commodi, quas laborum consequatur veritatis labore magnam exercitationem nemo quasi quis, similique repellendus quos corporis enim sequi porro quisquam consectetur aliquid neque velit! Atque, repudiandae.
                Id amet c
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, exercitationem ullam rem, architecto numquam voluptas illum sed magni ipsa totam cumque reprehenderit? Unde id vel atque culpa, pariatur recusandae consequatur.
                Animi sed, ad ducimus accusamus quasi tenetur cumque repellendus possimus vero perferendis dicta suscipit doloribus, quidem explicabo minus dolor magnam assumenda id. Quibusdam in sapiente libero quam nam alias laudantium?
                Soluta incidunt nisi consequatur ducimus animi asperiores quia laboriosam. Autem esse optio delectus, assumenda accusantium in nostrum ducimus enim inventore, dolor nam amet labore quae est quo repudiandae impedit sunt!
                Iure temporibus similique mollitia dolores repellat quam provident labore voluptates non natus laborum qui et eaque, ratione adipisci quos ipsam dolorum nisi corporis cum cumque reprehenderit tempora quo. Modi, maiores?
                Iure soluta iusto nulla expedita fugiat repudiandae ipsam nihil, doloremque odit quia accusantium sapiente esse laborum pariatur consectetur sint accusamus sit. Laborum tempore sint voluptatibus magnam aspernatur nostrum magni aut!
            </p>

        </div>
    </section>

    <section class="section" >
        <div class="container">
            
            <div class="section__title-wrapper section__title-wrapper--sub">
                <h2 class="section__title section__title--sub">{% trans 'Какая-то часть 2' %}</h2>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis quas omnis ea possimus repellendus fuga explicabo et tempora quo. Aspernatur ullam quo minima adipisci accusantium expedita ratione, vitae quas!
            Assumenda deserunt cum error ratione commodi, quas laborum consequatur veritatis labore magnam exercitationem nemo quasi quis, similique repellendus quos corporis enim sequi porro quisquam consectetur aliquid neque velit! Atque, repudiandae.
            Id amet consequuntur deserunt, blanditiis iusto, ipsa similique consectetur dolorum maiores, odit nisi dicta quaerat possimus recusandae nesciunt perferendis minima quasi temporibus cum voluptates non? Ipsam possimus perspiciatis eveniet neque.</p>
            
            <div class="section-picture">
                <img class="section-picture__image" src="{% static 'img/history/red-tsuab.jpg' %}" alt="">
                <p class="section-picture__description">Красный корпус» ТГАСУ | Томск | Культурный туризм </p>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis quas omnis ea possimus repellendus fuga explicabo et tempora quo. Aspernatur ullam quo minima adipisci accusantium expedita ratione, vitae quas!
                Assumenda deserunt cum error ratione commodi, quas laborum consequatur veritatis labore magnam exercitationem nemo quasi quis, similique repellendus quos corporis enim sequi porro quisquam consectetur aliquid neque velit! Atque, repudiandae.
                Id amet c
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, exercitationem ullam rem, architecto numquam voluptas illum sed magni ipsa totam cumque reprehenderit? Unde id vel atque culpa, pariatur recusandae consequatur.
                Animi sed, ad ducimus accusamus quasi tenetur cumque repellendus possimus vero perferendis dicta suscipit doloribus, quidem explicabo minus dolor magnam assumenda id. Quibusdam in sapiente libero quam nam alias laudantium?
                Soluta incidunt nisi consequatur ducimus animi asperiores quia laboriosam. Autem esse optio delectus, assumenda accusantium in nostrum ducimus enim inventore, dolor nam amet labore quae est quo repudiandae impedit sunt!
                Iure temporibus similique mollitia dolores repellat quam provident labore voluptates non natus laborum qui et eaque, ratione adipisci quos ipsam dolorum nisi corporis cum cumque reprehenderit tempora quo. Modi, maiores?
                Iure soluta iusto nulla expedita fugiat repudiandae ipsam nihil, doloremque odit quia accusantium sapiente esse laborum pariatur consectetur sint accusamus sit. Laborum tempore sint voluptatibus magnam aspernatur nostrum magni aut!
            </p>

        </div>
    </section>



</main>
{% endblock %}