{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<main class="main">
  <section class="hero">
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/swiper-first.jpg' %}" alt=""
            aria-hidden="true">
          <div class="container">
            <div class="hero__slide-content">
              <h2 class="hero__title">{% trans 'Математика вдохновляет' %}</h2>

              <p class="hero__descr">
                {% trans 'Добро пожаловать на кафедру Прикладной Математики, где мы преображаем числа в искусство!' %}
              </p>

              <a class="hero__link" href="{% url 'history' %}">{% trans 'Подробнее' %}</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/swiper-second.jpg' %}" alt=""
            aria-hidden="true">
          <div class="container">
            <div class="hero__slide-content">
              <h2 class="hero__title">{% trans 'Методические указания' %}</h2>

              <p class="hero__descr">
                {% trans 'Если у Вас возникли вопросы по обучению, ознакомьтесь с нашими методическими указаниями, где Вы найдёте подробные инструкции и рекомендации по основным аспектам обучения. Наши материалы помогут Вам разобраться в любых трудностях и достичь успешных результатов в учебном процессе!' %}
              </p>

              <a class="hero__link" href="{% url 'manuals_list' %}">{% trans 'Подробнее' %}</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/swiper-third.jpg' %}" alt=""
            aria-hidden="true">
          <div class="container">
            <div class="hero__slide-content">
              <h2 class="hero__title">{% trans 'Задайте свой вопрос' %}</h2>

              <p class="hero__descr">
                {% trans 'Нужна консультация? Задайте свой вопрос преподавателям, они помогут решить Ваши проблемы, разобраться с трудностями в обучении и понять учебный материал.' %}
              </p>

              <a class="hero__link" href="{% url 'support' %}">{% trans 'Подробнее' %}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container hero__swiper-nav">
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>

  <section class="section section--without-padding_bottom">
    <div class="container">

      <div class="section__title-wrapper">
        <h2 class="section__title">{% trans 'Новости' %}</h2>

        <a class="navigation-link" href="{% url 'news_list' %}">{% trans 'Все новости' %}</a>
      </div>

      <div class="list-reset news__list">

        {% for news in last_news %}

        <a class="news__item" href="{% url 'news_detail' news.pk %}">
          <img class="news__item-img" loading="lazy" src="{{ news.pictures.last.picture.url }}" alt=""
            aria-hidden="true">
          <h3 class="news__item-title">{{ news.title }}</h3>
          <p class="news__item-descr">
            {{ news.text }}
          </p>
        </a>

        {% endfor %}

      </div>
    </div>
  </section>

  <section class="section section--without-padding_bottom history">
    <div class="container history__container">

        <div class="history__content">
            <div class="section__title-wrapper">
                <h2 class="section__title">{% trans 'О кафедре' %}</h2>
            </div>

            <div class="history__text">
              <p>
                  {% trans "На кафедре обучаются студенты общеобразовательного, медико-биологического и педиатрического факультетов." %}
              </p>
              <p>
                  {% trans "Кафедра прикладной математики является ответственной за проведение централизованного тестирования студентов по текущим дисциплинам и проверке остаточных знаний, а также за предварительную тренировку студентов на тренажерах интернет-тестирования во время аккредитации университета и ежегодном проведении тестирования." %}
              </p>
              <p>
                  {% trans "В учебном процессе преподаватели используют новейшие технологии, разрабатываются лекционные и практические занятия с применением компьютерных программ. Курсы лекций по информатике и в большинстве других дисциплин читаются в форме презентаций. На лабораторных и практических занятиях используются варианты заданий с примерами в электронном виде." %}
              </p>
              <p>
                  {% trans "На кафедре разработана собственная тестовая система «Вариант 1», которая используется преподавателями кафедры для контроля знаний студентов по дисциплинам не только относящихся к прикладной математике, но также других кафедр факультета." %}
              </p>
              <p>
                  {% trans "В составе коллектива кафедры — 1 профессор, 3 старших преподавателя и 2 доцента." %}
              </p>
          </div>

        </div>

    </div>
</section>

  <section class="section">
    <div class="container">

      <div class="section__title-wrapper">
        <h2 class="section__title">{% trans 'Фотогалерея' %}</h2>
      </div>

      <div class="swiper gallery__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="gallery__swiper-img" loading="lazy" src="https://img-fotki.yandex.ru/get/6401/36710540.82/0_a4fbc_81cdb2e8_XXL" alt=""
              aria-hidden="true" height="500">
          </div>
          <div class="swiper-slide">
            <img class="gallery__swiper-img" loading="lazy" src="https://gt-tomsk.ru/wp-content/uploads/2023/07/news03072320.jpg" alt=""
              aria-hidden="true" height="500">
          </div>
          <div class="swiper-slide">
            <img class="gallery__swiper-img" loading="lazy" src="{% static 'img/history/red-tsuab.jpg' %}" alt=""
              aria-hidden="true" height="500">
          </div>
          <div class="swiper-slide">
            <img class="gallery__swiper-img" loading="lazy" src="https://obzor.city/data/images/news_2019/06/tgasu/1_20_.jpg" alt=""
              aria-hidden="true" height="500">
          </div>
        </div>
  
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>
  </section>

</main>
{% endblock %}