{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<main class="main">
    <section class="hero">
  <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/hero-slide-bg-1.png' %}" alt="" aria-hidden="true">
      <div class="container">
        <div class="hero__slide-content">
          <h2 class="hero__title">Математика вдохновляет</h2>

          <p class="hero__descr">
            Добро пожаловать на кафедру Прикладной Математики, где мы преображаем числа в искусство!
          </p>

          <a class="hero__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/hero-slide-bg-1.png' %}" alt="" aria-hidden="true">
      <div class="container">
        <div class="hero__slide-content">
          <h2 class="hero__title">Математика вдохновляет</h2>

          <p class="hero__descr">
            Добро пожаловать на кафедру Прикладной Математики, где мы преображаем числа в искусство!
          </p>

          <a class="hero__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <img class="hero__slide-bg" loading="lazy" src="{% static 'img/hero/hero-slide-bg-1.png' %}" alt="" aria-hidden="true">
      <div class="container">
        <div class="hero__slide-content">
          <h2 class="hero__title">Математика вдохновляет</h2>

          <p class="hero__descr">
            Добро пожаловать на кафедру Прикладной Математики, где мы преображаем числа в искусство!
          </p>

          <a class="hero__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container hero__swiper-nav">
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
</section>

    <section class="news">
<div class="container">
  <div class="news__title-wrapper">
    <h2 class="news__title">Новости</h2>

    <a class="news__link" href="{% url 'news_list' %}">Все новости</a>
  </div>

  <div class="list-reset news__list">

    {% for news in last_news %}

      <a class="news__item" href="#">
        <img class="news__item-img" loading="lazy" src="{{ news.pictures.last.picture.url }}" alt="" aria-hidden="true">
        <h3 class="news__item-title">{{ news.title }}</h3>
        <p class="news__item-descr">
          {{ news.text }}
        </p>
      </a>

    {% endfor %}

  </div>
</div>
</section>

  </main>
{% endblock %}