{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="main">
  <section class="sign-in">
<div class="container">
<div class="sign-in__form-wrapper">
  <h2 class="sign-in__title">Задайте свой вопрос</h2>

  <form class="sign-in__form" method="POST"> {% csrf_token %}
    <div class="sign-in__form-inputs"> 

      <label class="sign-in__label sign-in__label--user">
        <input class="sign-in__input" name="name" type="text" placeholder="Ваше имя">
      </label>

      <label class="sign-in__label sign-in__label--email">
        <input class="sign-in__input" name="email" type="text" placeholder="Ваш электронный адрес">
      </label>
      {{ form.errors.email }}

    </div>
    <button class="btn-reset sign-in__btn" type="submit">Отправить</button>
  </form>
</div>
</div>
</section>

</main>

{% endblock %}