<ul class="list-reset nav__list">
    <li class="nav__item">
        <a class="nav__link" href="{% url 'home' %}">Главная</a>
    </li>
    <li class="nav__item">
        <div class="dropdown">
            <a class="nav__link">О кафедре</a>
            <div class="dropdown-content">
                <a class="nav__link" href="#" >История</a>

            </div>
        </div>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="{% url 'news_list' %}">Новости</a>
    </li>
    <li class="nav__item">
        <div class="dropdown">
            <a class="nav__link">Студентам</a>
            <div class="dropdown-content">
                <a class="nav__link" href="{% url 'theses_list' %}">Дипломные работы</a>
                <a class="nav__link" href="#">Расписание</a>
                <a class="nav__link" href="#">Методические указания</a>
            </div>
        </div>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="{% url 'contacts' %}">Контакты</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="{% url 'support' %}">Помощь</a>
    </li>
</ul>