{% extends "core/base.html" %}
{% load static %}


{% block content %}
  <main class="main">
    <section class="news">
  <div class="container">
  <div class="news__title-wrapper">
    <h2 class="news__title">Последние новости</h2>
  </div>

  <div class="list-reset news__list news__list--full">
    {% for n in news %}

      <a class="news__item" href="{% url 'news_detail' n.pk %}">
        <img class="news__item-img" loading="lazy" src="{{ n.pictures.last.picture.url }}" alt="" aria-hidden="true">
        <h3 class="news__item-title">{{ n.title }}</h3>
        <p class="news__item-descr">
          {{ n.text }}
        </p>
      </a>

    {% endfor %}
    
  </div>

  <ul class="list-reset news__pagination">

    {% for p in paginator.page_range %}
      {% if p == page_obj.number %}
        <li class="news__pagination-item">
          <a class="news__pagination-link news__pagination-link--active" href="?page{{ p }}">{{ p }}</a>
        </li>
      {% else %}
        <li class="news__pagination-item">
          <a class="news__pagination-link" href="?page={{ p }}">{{ p }}</a>
        </li>
      {% endif %}

    {% endfor %}

  </ul>
  </div>
  </section>

  </main>
{% endblock %}