{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% load custom_filters %}

{% block content %}
<main class="main">
    <section class="section">
        <div class="container">
            <div class="section__title-wrapper">
                <h2 class="section__title">{% trans 'Новости' %}</h2>

                <a class="navigation-link" href="{% url 'news_list' %}">{% trans 'Все новости' %}</a>
            </div>

            <div class="news-full__content">
                <img class="news-full__img" loading="lazy" src="{{ n.get_last_picture_url }}" width="790" height="383" alt="Наша новость">

                <h2 class="news-full__title">{{ n.title }}</h2>

                <div class="news-full__date">{{ n.get_formatted_date_created }}</div>

                <p class="news-full__descr">
                    {{ n.text|urlize }}
                </p>
            </div>

            <div class="comments">
                <div class="comments__header">
                    <h3>{{ comments.count }} Комментариев</h3>
                </div>
                
                <form method="post" class="comments__form"> {% csrf_token %}
                    <textarea class="comments__form-input " type="text" name="comment" placeholder="Введите комментарий"></textarea>
                    <button class="comments__form-button" type="submit">Оставить комментарий</button>
                </form>

                <div class="comments__list">
                    {% for c in comments %}
                    <div class="comment">
                        <div class="comment__avatar">
                            <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                        </div>
                        
                        <div class="comment__content">

                            <div class="comment__date-wrapper">
                                <div class="comment__author">
                                    {{ c.user.get_full_name }}
                                </div>
    
                                <div class="comment__date">
                                    {{ c.get_formatted_date_created }}
                                </div>
                            </div>

                            <div class="comment__text">
                                {{ c.text }}
                            </div>

                            <div class="comment__actions">
                                <div class="comment__reply-button">
                                    Ответить
                                </div>

                                {% if c.replies.all.count > 0 %}
                                <div class="comment__show-replies-button">
                                    {{ c.replies.all.count }} ответа
                                </div>
                                {% endif %}
                            </div>

                            <form method="post" class="comment__reply-form"> {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ c.id }}"> 
                                <textarea class="comments__form-input " type="text" name="reply" placeholder="Введите ответ"></textarea>
                                <button class="comments__form-button" type="submit">Ответить</button>
                            </form>

                            <div class="comment__replies">
                                {% for r in c.replies.all %}
                                    <div class="comment">
                                        <div class="comment__avatar">
                                            <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                        </div>
                                        
                                        <div class="comment__content">
                
                                            <div class="comment__date-wrapper">
                                                <div class="comment__author">
                                                    {{ r.user.get_full_name }}
                                                </div>
                    
                                                <div class="comment__date">
                                                    {{ r.get_formatted_date_created }}
                                                </div>
                                            </div>
                
                                            <div class="comment__text">
                                                {{ r.text }}
                                            </div>
                
                                        </div>
                                    </div>
                                {% endfor %}                                
                            </div>

                            
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>

            <a class="navigation-link navigation-link--full" onclick="history.back()">{% trans 'Назад' %}</a>
        </div>
    </section>

  </main>
{% endblock %}