{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% load custom_filters %}

{% block content %}
<main class="main">
    <section class="section">
        <div class="container">
            <div class="section__title-wrapper">
                <h2 class="section__title">{% trans 'Новости' %}</h2>

                <a class="navigation-link" href="{% url 'news_list' %}">{% trans 'Все новости' %}</a>
            </div>

            <div class="news-full__content">
                <img class="news-full__img" loading="lazy" src="{{ n.get_last_picture_url }}" width="790" height="383" alt="Наша новость">

                <h2 class="news-full__title">{{ n.title }}</h2>

                <div class="news-full__date">{{ n.get_formatted_date_created }}</div>

                <p class="news-full__descr">
                    {{ n.text|urlize }}
                </p>
            </div>

            <div class="comments">
                <div class="comments__header">
                    <h3>15 Комментариев</h3>
                </div>
                
                <form method="post" class="comments__form">
                    <textarea class="comments__form-input " type="text" name="comment" placeholder="Введите комментарий"></textarea>
                    <button class="comments__form-button" type="submit">Оставить комментарий</button>
                </form>

                <div class="comments__list">
                    <div class="comment">
                        <div class="comment__avatar">
                            <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                        </div>
                        
                        <div class="comment__content">

                            <div class="comment__date-wrapper">
                                <div class="comment__author">
                                    Головач Максим Константинович
                                </div>
    
                                <div class="comment__date">
                                    25 Мая 2024
                                </div>
                            </div>

                            <div class="comment__text">
                                Супер ура класс
                            </div>

                            <div class="comment__actions">
                                <div class="comment__reply-button">
                                    Ответить
                                </div>

                                <div class="comment__show-replies-button">
                                    2 ответа
                                </div>
                            </div>

                            <form method="post" class="comment__reply-form">
                                <textarea class="comments__form-input " type="text" name="reply" placeholder="Введите ответ"></textarea>
                                <button class="comments__form-button" type="submit">Ответить</button>
                            </form>

                            <div class="comment__replies">
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment__avatar">
                            <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                        </div>
                        
                        <div class="comment__content">

                            <div class="comment__date-wrapper">
                                <div class="comment__author">
                                    Головач Максим Константинович
                                </div>
    
                                <div class="comment__date">
                                    25 Мая 2024
                                </div>
                            </div>

                            <div class="comment__text">
                                Супер ура класс
                            </div>

                            <div class="comment__actions">
                                <div class="comment__reply-button">
                                    Ответить
                                </div>

                                <div class="comment__show-replies-button">
                                    2 ответа
                                </div>
                            </div>

                            <form method="post" class="comment__reply-form">
                                <textarea class="comments__form-input " type="text" name="reply" placeholder="Введите ответ"></textarea>
                                <button class="comments__form-button" type="submit">Ответить</button>
                            </form>

                            <div class="comment__replies">
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment__avatar">
                            <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                        </div>
                        
                        <div class="comment__content">

                            <div class="comment__date-wrapper">
                                <div class="comment__author">
                                    Головач Максим Константинович
                                </div>
    
                                <div class="comment__date">
                                    25 Мая 2024
                                </div>
                            </div>

                            <div class="comment__text">
                                Супер ура класс
                            </div>

                            <div class="comment__actions">
                                <div class="comment__reply-button">
                                    Ответить
                                </div>

                                <div class="comment__show-replies-button">
                                    2 ответа
                                </div>
                            </div>

                            <form method="post" class="comment__reply-form">
                                <textarea class="comments__form-input " type="text" name="reply" placeholder="Введите ответ"></textarea>
                                <button class="comments__form-button" type="submit">Ответить</button>
                            </form>

                            <div class="comment__replies">
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar">
                                        <img src="{% static 'img/contacts/blank-user.svg' %}" alt="">
                                    </div>
                                    
                                    <div class="comment__content">
            
                                        <div class="comment__date-wrapper">
                                            <div class="comment__author">
                                                Головач Максим Константинович
                                            </div>
                
                                            <div class="comment__date">
                                                25 Мая 2024
                                            </div>
                                        </div>
            
                                        <div class="comment__text">
                                            Супер ура класс
                                        </div>
            
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>

            <a class="navigation-link navigation-link--full" onclick="history.back()">{% trans 'Назад' %}</a>
        </div>
    </section>

  </main>
{% endblock %}