{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<main class="main">
    <section class="section">
        <div class="container">
            <div class="section__title-wrapper">
                <h2 class="section__title">{% trans 'Новости' %}</h2>

                <a class="navigation-link" href="{% url 'news_list' %}">{% trans 'Все новости' %}</a>
            </div>

            <div class="news-full__content">
                <img class="news-full__img" loading="lazy" src="{{ n.get_last_picture_url }}" width="790" height="383" alt="Наша новость">

                <h2 class="news-full__title">{{ n.title }}</h2>

                <div class="news-full__date">{{ n.get_formatted_date_created }}</div>

                <p class="news-full__descr">
                    {{ n.text }}
                </p>
            </div>

            <a class="navigation-link navigation-link--full" onclick="history.back()">{% trans 'Назад' %}</a>
        </div>
    </section>

  </main>
{% endblock %}