{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
  <main class="main">
    <section class="section">
  <div class="container">
  <div class="section__title-wrapper">
    <h2 class="section__title">{% trans 'Дипломные работы' %}</h2>
  </div>

  <div class="file-item__list">
    {% for t in theses %}
      <div class="file-item">
        <div class="file-item__content-wrapper">
          <div class="file-item__title">
            {{t.title}}
          </div>
          <div class="file-item__file-wrapper">
            <div class="file-item__date">
              {{ t.get_formatted_date_upload }}
            </div>
            <a class="file-item__file" href="{{ t.file.url }}" target="_blank" ></a>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>

  {% include 'includes/pagination.html' %}
  </div>
  </section>

  </main>
{% endblock %}